{% extends 'main.html' %}
{% block content %}
    {% if page == 'avaliable' %}
    <h2>Avaliable Employees</h2>
    {% elif page == 'allemployees' %}
    <h2>All Employees</h2>
    {% endif %}
    {% for employee in employees %}
    <h2>{{ employee.name }}</h2>
    <p>Availability: {{ employee.availability }}</p>
    <p>Amount of Work: {{ employee.amount_of_work }}</p>
    <p>Skills:</p>
    <ul>
        {% for skill in employee.skills.all %}
            <li>{{ skill.name }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock content %}
