{% extends 'main.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
    <h3><a href="{% url 'update_presence' %}">Are you on leave</a></h3>
    <h3><a href="{% url 'allemployees' %}">All Employees</a></h3>
    <h3><a href="{% url 'avaliable' %}">Avaliable employees</a></h3>
    <h3><a href="{% url 'myworks' %}">My works</a></h3>
    {% if request.user.is_superuser %}
    <h3><a href="{% url 'addwork' %}">New work</a></h3>
    <!--<h3><a href="{% url 'viewwork' %}">modify work</a></h3>-->
    <h3><a href="{% url 'assignwork' %}">Assign work</a></h3>
    {% endif %}
    {% endif %}
{% endblock content %}